---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenidos a PostClass" description='Pagina principal de PostClass, la pagina donde vamos a acompañar a los alumnos' keywords='PostClass, Ignadev'>
    <h3>Cursos</h3>
</Layout>

<style>

</style>
