---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenidos a mi cabeza" description='Pagina principal de NewStart, la pagina donde voy a soltar todo lo que tenga en mi cabeza' keywords='Ignacio Basilio, Programador, Jujuy, Ignadev'>

	<header class="contenedorTitulo">
		<h1>Mi Cabeza</h1>
	</header>

	<div class="contenedorParrafo">
		<p>Aqui dejare pensamientos sobre mi proceso actual, un poco lo referido a lo profesional y otro sobre la vida en general. Gracias por acompañarme en este camino.</p>
		<p>En estos tiempos, he estado reflexionando sobre la importancia del equilibrio entre el trabajo y la vida personal. Muchas veces nos enfocamos tanto en nuestras metas profesionales que olvidamos cuidar de nuestro bienestar emocional y físico. Es crucial encontrar tiempo para uno mismo, para disfrutar de los pequeños momentos y para reconectar con lo que realmente nos hace felices.</p>
		<p>En el ámbito profesional, estoy trabajando en varios proyectos emocionantes que me desafían y me permiten crecer como desarrollador. La tecnología avanza a pasos agigantados, y mantenerse al día con las últimas tendencias y herramientas es una tarea continua. Sin embargo, cada nuevo reto trae consigo la oportunidad de aprender y mejorar.</p>
		<p>Por otro lado, en lo personal, he estado explorando nuevas aficiones y redescubriendo pasatiempos que había dejado de lado. La vida es un constante aprendizaje, y cada experiencia nos enriquece de una manera única. Estoy agradecido por tener la oportunidad de compartir mis pensamientos y experiencias con ustedes.</p>
		<p>Gracias por ser parte de este viaje. Espero que mis reflexiones puedan inspirarte o al menos hacerte sentir acompañado en tus propios procesos y desafíos. La vida es un camino lleno de altibajos, pero es precisamente eso lo que la hace tan especial.</p>
	</div>

</Layout>

<style>


	.contenedorTitulo {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("https://e1.pxfuel.com/desktop-wallpaper/596/316/desktop-wallpaper-starry-sky-night-sky-cellphone.jpg");
		background-position: center;
		background-attachment: fixed;
		width: 100%;
		height: auto;
	}

	.contenedorTitulo h1 {
		font-size: 2rem;
		text-align: center;
		color: white;
	}

	.contenedorParrafo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem auto;
		width: 80%;
		flex-direction: column;
	}

	p {
		font-size: 1.2rem;
	}

	@media screen and (min-width: 768px) {
		.contenedorParrafo{
			width: 55%;
		}
		.contenedorTitulo{
			width: 60%;
			margin: 0 auto;
		}
	}

</style>
